.container {
  width: 300px;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
}
.clip {
  margin-right: 10px;
}
.text {
  font-weight: 500;
}
.btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: lightgrey;
  border: 1px solid black;
  cursor: pointer;
}
