#root {
  max-width: 700px;

  margin: 0 auto;
  padding: 2rem;
  background-color: black;
  background-image: url(../public/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  /* text-align: center; */
}

.cont {
  width: 300px;
  margin: 0 auto;
}
.title {
  color: white;
}
